body {
    background: #f5f7fb;
}

.list-group-item {
    border: none;
}

    .list-group-item:hover {
        background: #0d6efd;
        color: white;
    }

.card {
    border: none;
    border-radius: 12px;
}

.navbar {
    height: 70px;
}
